@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.5s linear;
}

.nav_link {
  @apply ml-3 border-b-2 border-white h-full flex items-center justify-center w-32;
  a {
    @apply py-5 px-4;
  }
  &:hover {
    @apply border-gray-800;
  }
  transition: border 0.2s linear;
}

.btn {
  @apply w-full text-center rounded-md py-5 text-lg font-bold;
}

.btn-link {
  @apply w-full text-center rounded-md py-5 text-lg font-bold text-white bg-red-400;
}

input,
textarea,
select {
  @apply w-full rounded-md py-5 text-lg font-bold border border-gray-600 px-5 text-left;
  &:focus {
    @apply outline-none border-teal-500;
  }
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 50px;
}

form {
  .input {
    @apply mb-3;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
    span {
      @apply text-base text-red-600 font-semibold;
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(30px);
  }
  95% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 4s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.success {
    @apply bg-green-500;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

.border-section {
  @apply border-b border-gray-400 pb-6 mt-6;
}

.cal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

@tailwind utilities;
