{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>{% block page_title %} {% endblock page_title %} I Nbnb</title>
  </head>
  <body class="text-gray-800 mt-20 font-light">
    {% include 'partials/messages.html' %}
    <header class="container max-w-full inset-0 z-10 flex justify-between px-4 h-16 border-b border-gray-400 fixed bg-white">    
      <div class="flex items-center w-10/12">
        <a href="{% url 'core:home' %}" class="mr-3">
          <img class="w-16" src="{% static 'img/logo.png' %}" />
        </a>
        {% block search-bar %}
        <form method= get action="{% url "rooms:search" %}" class="w-9/12">
          <input class="search-box border w-9/12 px-5 py-2 font-medium placeholder-gray-700 rounded-lg shadow-md hover:shadow-lg focus:outline-none"name="city" placeholder="Search by City" />
        </form>
        {% endblock search-bar %}        
      </div>
      {% include "partials/nav.html" %}
    </header>

    {% block content %}
    {% endblock content %}
    {% include "partials/footer.html" %}
  </body>
  

</html>
